.image {
  width: 215px;
  height: 150px;
  padding-right: 0%;
  padding-left: 0%;
}
ul{margin:0;padding:0;list-style-type:none}
 ul li{float:left;}

 #textboxsize{
   margin: 0px;
   width: 703px;
   height: 115px;
   font-size: 14px;
 }
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*body {
  margin: 5%;
  text-align: center;
  background: #111;
  color: #333;
}*/
h1 {
  font-size: 2em;
  margin-bottom: .5rem;
}

/* Ratings widget */
.rate {
  display: inline-block;
  border: 0;
}
/* Hide radio */
.rate > input {
  display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
  float: right;
}
/* The star of the show */
.rate > label:before {
  display: inline-block;
  font-size: 1.1rem;
  padding: .3rem .2rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 "; /* full star */
}
/* Zero stars rating */
.rate > label:last-child:before {
  content: "\f006 "; /* empty star outline */
}
/* Half star trick */
.rate .half:before {
  content: "\f089 "; /* half star no outline */
  position: absolute;
  padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: maroon;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #f44336  ;  }

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input.ng-invalid{border-left:2px solid red;border-right:2px solid red;}
input.ng-valid{border-left:2px solid green;border-right:2px solid green;border-top:2px solid green;
  border-bottom:2px solid green;}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
  float: left;
  width: 50%;
}
.container {
  padding: 16px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
