<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Description</title>
</head>
<body>

<table  align="center">
    <tr>
        <td colspan="4">
            <h1>TvShows Bonanja</h1>
            <h2>Hello, You are watching TVshow {{this.parsetvshowname}}</h2>
</td>
    </tr>

  <tr>
    <td>
    <div>
        <img class="image" src="{{this.prsetvshowimagepath}}"/>

    </div>
</td>
    <td style="text-align: right; width: 50%">
       <h2> TvShow Name:{{this.parsetvshowname}}</h2><br><h2>Actors are:</h2>
    </td></tr><tr>
  <td></td>
 <td width="80%" height="100%" align="cneter">
            <div *ngFor="let tvshows of tvShowClickedResponse">
                <div class="module movie">
                    <div> <span style="color: black;padding-left: 55%;font-size: 120%;text-align: right">{{tvshows.actors}}  </span> <br style="padding-top: 10%"></div>
                </div>
            </div>
   <div *ngIf="tvShowClickedResponse">
     <span style="padding-left: 35%; color: #039be5">GenreType:</span>:<span style="color: black;font-size: 100%;padding-left: 2%;color: black">{{tvShowClickedResponse[0].genreType}}</span>
   </div>

    </td>
</tr>

    <tr>
        <td colspan="1">

        </td>
        <td align="center">
            <div><span style="padding-left: 5%;padding-top: 10%; color: firebrick">Average TvShow Rating For show : </span>
                <div *ngIf="4.5<this.parsetvshowavgRating && 5>=this.parsetvshowavgRating ">
                    <div><img src="assets/star_5.jpg" width="40%" height="20%"></div>
                </div>
                <div *ngIf="4<this.parsetvshowavgRating && 4.5>=this.parsetvshowavgRating ">
                    <div><img src="assets/star_4.5.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="3.5<this.parsetvshowavgRating && 4>=this.parsetvshowavgRating ">
                    <div><img src="assets/star_4.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="3<this.parsetvshowavgRating && 3.5>=this.parsetvshowavgRating ">
                    <div><img src="assets/star_3.5.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="2.5<this.parsetvshowavgRating && 3>=this.parsetvshowavgRating ">
                    <div><img src="assets/star_3.jpg" width="40%" height="20%"></div>
                </div>
                <div *ngIf="2<this.parsetvshowavgRating && 2.5>=this.parsetvshowavgRating ">
                    <div><img src="assets/star_2.5.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="1.5<this.parsetvshowavgRating && 2>=this.parsetvshowavgRating ">
                    <div><img src="assets/star_2.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="1<this.parsetvshowavgRating && 1.5>=this.parsetvshowavgRating ">
                    <div><img src="./assets/star_1.jpg" width="40%" height="20%"></div>
                </div>
               <span style="padding-left: 5%; color: firebrick">The average Rating is : </span><span style="font-size: 100%;padding-right: 15%;color: black">  {{this.parsetvshowavgRating | number: '1.2-2'}}</span>
                </div>
        </td>
    </tr>
    <tr>
        <td colspan="1">

        </td>
        <td align="center">
            <div><span style="padding-left: 5%; color: firebrick">The number of People Gave Rating is : </span><span style="font-size: 100%;padding-right: 15%;color: black">  {{this.parsetvshowmembersCount}}</span></div>

        </td>
    </tr>
</table>
<table  width="100%" style="padding-top: 10%">
    <tr>
        <td>
           <h2 style="color: #0b5849"> Scroll Down For Movie Comments</h2>
        </td>
        <td>
            <button (click)="goRating(this.parsetvshowname, this.prsetvshowimagepath)">Want To Give Rating</button>
        </td>
    </tr>

</table>



<!--TvShow Comments-->

<div *ngFor="let comment of tvShowComments | paginate:{ itemsPerPage: 3, currentPage: p }">
<table width="100%"  style="padding-top: 10%;">
    <tr>
        <td>
            <p style="color: darkred">{{comment.firstName}}</p>
        </td>
        <td>
            <p style="color: darkred">{{comment.lastName}}</p>
        </td>
        <td style="width: 37%;padding-left:2%; color: black">
            <p>Rating Given Date: {{comment.date}}</p>
        </td>
        <td width="20%"><span style="color:blue">Rating is: {{comment.rating}}</span></td>
        <td style="">
            <div>
                <div *ngIf="4.5<comment.rating && 5>=comment.rating ">
                    <div><img src="assets/star_5.jpg" width="40%" height="20%"></div>
                </div>
                <div *ngIf="4<comment.rating && 4.5>=comment.rating ">
                    <div><img src="assets/star_4.5.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="3.5<comment.rating && 4>=comment.rating ">
                    <div><img src="assets/star_4.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="3<comment.rating && 3.5>=comment.rating ">
                    <div><img src="assets/star_3.5.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="2.5<comment.rating && 3>=comment.rating ">
                    <div><img src="assets/star_3.jpg" width="40%" height="20%"></div>
                </div>
                <div *ngIf="2<comment.rating && 2.5>=comment.rating ">
                    <div><img src="assets/star_2.5.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="1.5<comment.rating && 2>=comment.rating ">
                    <div><img src="assets/star_2.png" width="40%" height="20%"></div>
                </div>
                <div *ngIf="1<comment.rating && 1.5>=comment.rating ">
                    <div><img src="assets/stat_1.jpg" width="40%" height="20%"></div>
                </div>

            </div>

        </td>


    </tr>
    <tr style="width: 2%">
        <td colspan="5">
            <p style="color: purple">Comment:</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p style="color: black">{{comment.comments}}</p>
        </td>
    </tr>
</table>

</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<button (click)="goBack()">Back</button>

</body>
</html>
